.homeWrap{
    
    width: 60%;
    margin: 3rem auto 3rem auto;
}

.cardsContainer{
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(13rem,1fr));
    grid-auto-rows: 16rem;    
}

@media (max-width: 1300px){
    .homeWrap{
        width: 90%;
    }
}

@media (max-width: 600px){
    .cardsContainer{
        gap: 2.3rem;
        grid-template-columns: repeat(auto-fill, minmax(10rem,1fr));
    }
}
